<meta charset='utf-8'>
<meta http-equiv="X-UA-Compatible" content="chrome=1">
<meta name="description" content="Jonyeezs Git Reference Guide : get out of a git pickle and overcoming the road-blocks">
<link rel="shortcut icon" href="{{ site.baseurl }}{{ site.favicon }}" type="image/png" />

<title>{% if page.title %}{{ page.title | escape }} - {% endif %}{{ site.title | escape }}</title>

<link rel="stylesheet" type="text/css" media="screen" href="{{ '/stylesheets/base.css' | relative_url }}">
<link rel="stylesheet" type="text/css" media="screen" href="{{ '/stylesheets/sidebar.css' | relative_url }}">
<link rel="stylesheet" type="text/css" media="screen" href="{{ '/stylesheets/search.css' | relative_url }}">
<link rel="stylesheet" type="text/css" media="screen" href="{{ '/stylesheets/syntax-highlighter.css' | relative_url }}">
