$rs: 16px;
$content-width: 980px;

$font-serif: Georgia, Cambria, "Times New Roman", Times, 'Lora', serif;
$font-sans: "Helvetica Neue", 'Open Sans', Arial, Helvetica, sans-serif;
$title-size: 36px;

$article-layout-grid: (
  columns: 1,
  gutter: $rs,
  media: '(max-width: #{$content-width})'
);

$article-layout-grid--wide: (
  columns: 8,
  gutter: 2rem,
  media: '(min-width: #{$content-width})'
);

$grey: #c4c4c4;
